git stagit /src/main/resources/Anand2.JPG
/src/main/resources/AnandPic.JPG
/src/test/java/TC001_BookMyShow_HomePage_Operations.java
/.idea/
/allure-results/
/null/
/Results/
/src/main/resources/Anand2.JPG
/src/test/java/temp/
/target/
